// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

main {
    background-color: rgb(112, 96, 128);
    background-size: cover;
    background-repeat: no-repeat;
}
