// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// Variables
@import "variables";

// Backend styles
@import "backend";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import 'node_modules/bootstrap-vue/src/index.scss';
@import '~bootstrap-icons/font/bootstrap-icons';

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
