// Css / Scss backend

.backend {
    .cardrestaurant .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 500px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .cardrestaurant .title {
        color: grey;
        font-size: 18px;
    }

    .cardrestaurant button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .cardrestaurant a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

    .cardrestaurant button:hover,
    .cardrestaurant a:hover {
        opacity: 0.7;
    }

    .cardrestaurant img {
        -o-object-fit: cover;
        object-fit: cover;
    }
}

// ADD NEW PLATE
.newplate {
    .img {
        display: inline-block;
        margin-left: 10px;
        img {
            width: 20px;
            height: 20px;
        }
    }
}

//Admin.Foods.Index
.tagliatesto {
    word-wrap: break-word;
}

.pagination {
    justify-content: flex-end;
    margin-top: 2vh;
}